*{                                   /* Wildcard to override the default styles added by the browser*/
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   }

   body  {
    margin: 0;
    padding: 0;
    }

  
  .home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../images/cover.webp");
    background-color: white;   /* In case the browser doesn't opens the cover image*/
    background-size: cover;
    background-position:center;
    position: relative;
}

h1 {                                                  /*Main content style*/
    font-family: 'Poppins', sans-serif;
    color: #9e3287;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 /*styling the navigation to be pushed vertically */
 #nav   {
    width: 25%;
    float: left;
    padding: 1rem;
    
     }

nav ul  {
    padding: 0.1rem;

}

nav ul li {
    padding: 0.5rem;
    display: block;
}

#nav ul a  {
    display: inline-block;
    width: 90%;
    font-size: 1.5rem;
    margin: 0.2rem;
    padding: 0.3rem; 
    color: #9e3287;
    font-weight: bold;
   text-decoration: none;   
} 

#nav a:hover, #nav a:active, #nav a:focus {
    color: rgb(233, 185, 222);
}
    
  
  
  /* Class Title - animation and process source : Tutorial - https://www.youtube.com/watch?v=mikht2lEnI0 */
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    -webkit-text-stroke: 1px #9e3287;
    color: transparent;
    background-image: linear-gradient(#9e3287 #9e3287);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -900px 0;
    animation: backcolor 5s linear infinite alternate;
  }

  @keyframes backcolor {
    100% {
        background-position: 0 0;
    }
  }        
  
  

