*{                                   /* Wildcard to override the default styles added by the browser*/
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
   }

   body  {
    margin: 0;
    padding: 0;
    }

  
  .home {
    width: 100%;
    height: 95vh;
    background: url("../images/background1.avif");
    background-color: black;   /* In case the browser doesn't opens the cover image*/
    background-size: cover;
    background-position:center;
    position: relative;
}

h1 {                                                  /*Main content style*/
    font-family: 'Dancing Script', cursive;
    font-size: 320%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 /*styling the navigation to be pushed vertically */
 #nav   {
    width: 25%;
    float: left;
    padding: 0.5rem;
    }

nav ul  {
    padding: 0.1rem;

}

nav ul li {
    padding: 0.5rem;
    display: block;
    list-style-type: none;
    
}

#nav ul a  {
    display: inline-block;
    width: 60%;
    font-size: 1.2rem;
    margin: 0.2rem;
    padding: 0.3rem; 
    color: white;
    letter-spacing: 2px;
    text-decoration: none; 
    text-align: center;  
    background-color: transparent;
    border : solid white 1px;
    border-radius: 0.5em;
} 

#nav a:hover, #nav a:active, #nav a:focus {
    color: rgb(214, 10, 112);
}
    
   
  /* Class Title - animation and process source : Tutorial - https://www.geeksforgeeks.org/how-to-create-text-reveal-effect-using-html-and-css/ */
  
  .title {
    position: absolutee;
    top: 50%;
    left: 50%;
    overflow: hidden; 
    animation: animate 2s linear forwards; 
            } 
  
  
  
   @keyframes animate { 
      0% { 
     width: 0px; 
    height: 0px; 
                } 
   30% { 
       width: 30%; 
       height: 0px; 
                } 
  
  60% { 
          width: 60%; 
         height: 10%; 
                } 

  100% { width:60%;
          height:20%;}
            } 
    
    

  @keyframes backcolor {
    100% {
        background-position: 0 0;
    }
  }      
   
  /* End of Animation */
  
  footer { 
    height: 50px;
    background-color : black;
    padding :15px;
    text-align: center;
    color: white;
    } 

  footer a { color:white;}

   /* Header Skincare page */

   header {
    margin: 0;
     padding: 0.05rem;
    }

  #tips {
    color : white;
    background-color: rgb(224, 5, 114);
    font-family: "Lobster" , serif;
    text-align: center;
    font-size: 200%;
    letter-spacing: 2px;
    padding: 0.8rem;
   }

   /* Article section style*/

   .content {
    background-color: black;
    border :solid rgb(214, 10, 112) 2px;
    display: flex;
    gap : 2em;
     }

    main {
    margin: 0;
	  padding: 15px;
  }
   
   main p {
    color: white;
    font-size: 90%;
    line-height: 1.6;
	  text-align: left;
	}

  h4 { color:white;}

  #model { 
    width:40%;
    height:40%;
    padding: 0;
    margin: 60px 0 ;
    }
  /* Nav elements for skin-care*/ 
  #navigation {
    width :60%;
    float: left;
    padding: 1rem;
    border-right:solid rgb(214, 10, 112) 1px ;
   }


    #navigation ul a { 
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    margin: 0.2rem;
    padding: 0.3rem; 
    color: white;
    letter-spacing: 2px;
    text-decoration: none; 
    text-align: center;  
    background-color: rgb(214, 10, 112);
    border-radius: 0.5rem;
    }

    /* Hero section - Love running project*/
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/selfcare.jpeg ") no-repeat center/cover ;
  position: relative;
}

#cover-text {
  /* Final rgba value sets the opacity so it is semi-transparent */
  background-color: rgba(241, 109, 107, .7);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
  color: #ffffff;
}
/* End of Love Running code part*/

/* Skin-care style incl img and text*/

#skin-care { display:flex;
          flex-direction: row;
           margin:20px 0;
          border: solid rgb(214, 10, 112) 1px;}

#skin-care > p { padding : 20px;
  align-self: center;
  font-size:100%;
 }

  /*Flex container style*/

 .flex-container {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; 
}

.text-container {
  flex: 1; 
  margin-right: 20px; 
}

#products { 
  width:40%;
  max-height :60vh;
  padding: 0;
  margin: 20px 0 ;
  }

  /* The last segment of main content*/
  .flex {
    padding:15px;
    display: flex;
    flex-direction: row;
    gap:10px;
    border : solid rgb(214, 10, 112) 1px;
}

.text{
    flex: 0 0 50%;
    margin-bottom: 20px;
}


 /* Styles for smaller screens */
  @media only screen and (max-width: 768px) {
		*.title {
			font-size: 180%;
		}

    #nav {
      width :100%;
      float: none;
      text-align: center;
    }

    #nav ul li  {
      list-style-type: none;
      display: inline-block;
      }
      
     #nav ul a {
      width:100%;
      padding: 0.2rem;
      color: white;
      font-size: 0.7rem;
      font-weight: bold;
      text-decoration: none;
      background-color: transparent;
      
      }
      #nav a:hover, #nav a:active, #nav a:focus {
        color: white;
  
    }	

    .content { 
      width:100%;
      flex-direction: column;
       }

     #navigation { 
      width :100%;
      float: none;
      text-align: center;
    }
    #navigation ul li { list-style-type: none;
      display: inline-block;
      }

      #skin-care { display:flex;
        flex-direction: column;}

      #model { width:100%;
      }
      #hydrate { display: flex;
      flex-direction: column;}

      #products { width:100%;}

    }
  /* Adjust the title for home page for landscape*/
    @media screen and (orientation: landscape) {
      .title {
        font-size:200%;
          top: 40%; 
          left: 50%;
      }
    }

	
    
  